.email {
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0.02em;
  color: #0e4656;
}

.footer {
  color: #333;
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hr {
  color: rgba(136, 136, 136, 0.5);
  width: 92%;
}

.img {
  width: 110px;
}

.logo {
  height: 1em;
  margin: 5px;
}

.row {
  background: #e8e8e8;
  flex-direction: row;
  display: flex;
  justify-content: space-between;
  padding: 1em 4em;
  width: inherit;
}

.column {
  color: #6f6f6f;
  display: flex;
  flex-direction: column;
  font-family: Lato;
  font-size: 14px;
  justify-content: flex-start;
  padding-right: 4em;
}

.column > h4 {
  color: #0e4656;
}

.upArrow {
  height: 65px;
}
.upArrow > img {
  color: #0e4656;
}
